bcrypt
pandas
geopy
sqlalchemy 
argon2-cffi 
streamlit
pyyaml
folium
streamlit-folium
streamlit_sqlalchemy
streamlit-leaflet
numpy
python-dotenv==1.0.0
streamlit-auth0-component
streamlit-confetti
streamlit-webrtc
opencv-python-headless
av
amplitude-analytics
clerk
pystrix
plotly
psycopg2-binary
Nominatim
modal
abacusai
googletrans==3.1.0a0
jinja2
st_link_analysis
