bcrypt
pandas
geopy
sqlalchemy 
argon2-cffi 
streamlit
pyyaml
folium
streamlit-folium
streamlit_sqlalchemy
streamlit-leaflet
numpy
python-dotenv==1.0.0
streamlit-auth0-component
streamlit-confetti
streamlit-webrtc
opencv-python-headless
av
amplitude-analytics
clerk
pystrix
livekit==0.15.2
livekit-client==0.15.2
